<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zy.chasegoddness">

    <uses-feature android:name="android.hardware.telephony" />

    <!-- 收发短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- BmobSDK所需的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 图片选择器所需要的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GoddnessAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FriendsRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ThirdPlatformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PrologueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowBigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FriendsSettingActivity"
            android:screenOrientation="portrait" />

        <!--监听关闭手机的广播-->
        <receiver
            android:name=".broadcast.ShutdownReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>